<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.two.dao.Goods.GoodsDao">
    <!--分页-->
    <!-- 查询商品信息 -->
    <!--  select * from
        (select rownum rn,t.* from emp t where rownum &lt; #{end}) a
        where a.rn &gt; #{start}-->
    <select id="getGoodsList" resultType="map">
        select * from
        (select rownum rn,t.GOODS_ID,t.GOODS_NAME,t.GOODS_SPE,t.GOODS_UNIT,t.GOODS_PRICE,d.TYPE_NAME,e.SUPP_NAME,t.SUPP_ID,
        to_char(t.OPERATE_TIME,'yyyy-mm-dd hh24:mi:ss') as OPERATE_TIME,t.GOODS_NUM
        from tb_goods t
        join tb_goodstype d on t.goods_typeid = d.type_id
        join TB_SUPPLIER e on t.supp_id = e.supp_id
        where rownum &lt; #{end}) a where a.rn &gt; #{start}
    </select>
    <!-- 查询数量 -->
    <select id="getGoodsCount" resultType="int">
        select count(*) from tb_goods
    </select>
    <!-- 增加商品 -->
    <insert id="add">
        insert into tb_goods(GOODS_ID,GOODS_NAME,GOODS_PRICE,GOODS_SPE,GOODS_UNIT,
        OPERATE_TIME,GOODS_NUM,GOODS_TYPEID,GOODS_STATE,OPERATE_ID,OPERATE_NAME,SUPP_ID) values(tb_goods_id.nextval,#{GOODS_NAME},#{GOODS_PRICE},
        #{GOODS_SPE},#{GOODS_UNIT},sysdate,#{GOODS_NUM},#{GOODS_TYPEID},1,1,'张三',(select SUPP_ID from TB_SUPPLIER where SUPP_NAME = #{SUPP_NAME}))
    </insert>
    <!-- 根据id删除goods -->
    <delete id="delete">
        delete from tb_goods where GOODS_ID=#{GOODS_ID}
    </delete>
    <!-- 根据GOODS_ID修改商品信息 -->
    <update id="update">
        update tb_goods set GOODS_NAME=#{GOODS_NAME},GOODS_PRICE=#{GOODS_PRICE},OPERATE_TIME=sysdate,
        GOODS_NUM=#{GOODS_NUM},GOODS_SPE=#{GOODS_SPE},GOODS_UNIT=#{GOODS_UNIT} where GOODS_ID=#{GOODS_ID}
    </update>
</mapper>