<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.two.dao.roompart.HistoryDao">
    <!--  列表查询 -->
    <select id="getHistory" resultType="map">
        select * from
        (select rownum rn, to_char(room_date,'yyyy-mm-dd') as room_date,a.room_part_id,a.room_part_state,a.part_id,
        a.room_code,a.room_part_name,a.room_part_phone,a.room_part_card,room_typename,a.room_livetime,b.room_typeprice,
        to_char(ROOM_TIME,'yyyy-mm-dd') as ROOM_TIME,a.room_typeid,a.room_sum
        from tb_room_part a
        join tb_roomtype b on a.room_typeid=b.room_typeid
        join tb_room c on c.room_code=a.room_code
        <where>
            <if test="ROOM_PART_PHONE!=null and ROOM_PART_PHONE!= '' ">
                and ROOM_PART_PHONE like '%'||#{ROOM_PART_PHONE}||'%'
            </if>

            <if test="ROOM_PART_NAME!=null and ROOM_PART_NAME!= '' ">
                and ROOM_PART_NAME like '%'||#{ROOM_PART_NAME}||'%'
            </if>
            <if test="1==1">
                and room_part_state = 1
            </if>
            <if test="pageNo!=null and pageNo!= '' ">
                and rownum &lt; #{end}) t where t.rn &gt; #{start}
            </if>
        </where>

    </select>
    <!--查询数量-->
    <select id="getCount" resultType="int">
        select count(*) from tb_room_part
        <where>
            <if test="ROOM_PART_PHONE!=null and ROOM_PART_PHONE!= '' ">
                and ROOM_PART_PHONE like '%'||#{ROOM_PART_PHONE}||'%'
            </if>

            <if test="ROOM_PART_NAME!=null and ROOM_PART_NAME!= '' ">
                and ROOM_PART_NAME like '%'||#{ROOM_PART_NAME}||'%'
            </if>
            <if test="1==1">
                and room_part_state = 1
            </if>
        </where>
    </select>
</mapper>