<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pro.two.dao.member.MemberDao">
    <select id="memberLogin" resultType="map">
        select count(*) as result from TB_MEMBER  where MEM_TEL = #{MEM_TEL} and MEM_PASSWORD = #{MEM_PASSWORD}
    </select>
    <insert id="memberRegister" >
        insert into TB_MEMBER(MEM_ID,MEM_NAME,MEM_TEL,MEM_PASSWORD,MEM_IDCORD)
        values (TB_MEMBER_ID.NEXTVAL,#{MEM_NAME},#{MEM_TEL},#{MEM_PASSWORD},#{MEM_IDCORD})
    </insert>
    <select id="getRoomType" resultType="map">
        select ROOM_TYPEID,ROOM_TYPENAME,ROOM_TYPEPRICE,ROOM_DEPOSIT,ROOM_INFO,ROOM_IMG from TB_ROOMTYPE
        <where>
            <if test="ROOM_TYPEID">
                ROOM_TYPEID=#{ROOM_TYPEID}
            </if>
        </where>
    </select>
    <insert id="submitOrder">
        insert into TB_ORDER(ORDER_ID,INPERSON,INTIME,OUTTIME,ROOMTYPE,ROOMNUM,ORDERPRICE,LINKMAN,CONTACTNUM,CONTACTEMAIL,PAYTYPE,MESSAGE)
        values (TB_ORDER_ID.NEXTVAL,#{inperson},to_date(#{intime},'yyyy-mm-dd'),to_date(#{outtime},'yyyy-mm-dd'),#{roomtype},#{roomnum},#{orderprice},#{linkman},#{contactnum},#{contactemai},#{paytype},#{message})
    </insert>
    <select id="QueryVacancy" resultType="map">
        select count(*) from(
        select distinct room_code from TB_ROOM_PART t
        where (room_typeid = #{ROOM_TYPEID} and t.room_date &lt; to_date(#{intime},'yyyy-mm-dd') and t.room_time &gt; to_date(#{outtime},'yyyy-mm-dd'))
        or (room_typeid = #{ROOM_TYPEID} and t.room_date &lt; to_date(#{intime},'yyyy-mm-dd') and t.room_time &gt; to_date(#{outtime},'yyyy-mm-dd'))
        )
    </select>
</mapper>