<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.two.dao.news.NewsDao">
    <select id="newsList" resultType="map">
        select * from (select rownum rn,t.* from tb_news t where rownum &lt; #{end}
        <if test="ID!=null and ID!=''">
            and NEWS_ID=#{ID}
        </if>
        <if test="TITLE!=null and TITLE!=''">
            and NEWS_TITLE like '%'||#{TITLE}||'%'
        </if>
        )a where rn &gt; #{start}
    </select>
    <select id="newsList2" resultType="map">
        select * from tb_news
    </select>
    <select id="newsCount" resultType="int">
        select count(*) from tb_news
        <where>
            <if test="ID!=null and ID!=''">
                and NEWS_ID=#{ID}
            </if>
            <if test="TITLE!=null and TITLE!=''">
                and NEWS_TITLE like '%'||#{TITLE}||'%'
            </if>
        </where>
    </select>
    <delete id="newsDelete">
        delete from tb_news where NEWS_ID = #{NEWS_ID}
    </delete>
    <insert id="addNews">
        insert into tb_news values(tb_news_id.nextval,#{NEWS_INFO},#{NEWS_PIC},#{NEWS_TITLE})
    </insert>
    <update id="updateNews">
        update tb_news set  NEWS_INFO=#{NEWS_INFO},NEWS_PIC=#{NEWS_PIC},NEWS_TITLE=#{NEWS_TITLE} where NEWS_ID=#{NEWS_ID}
    </update>
</mapper>