<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.two.dao.roompart.RoomPartDao">
    <!--  列表查询 -->
    <select id="getRoomPartList" resultType="map">
       select * from
        (select rownum rn, to_char(room_date,'yyyy-mm-dd') as room_date,a.room_part_id,a.room_part_state,a.part_id,
        a.room_code,a.room_part_name,a.room_part_phone,a.room_part_card,room_typename,a.room_livetime,b.room_typeprice,
        to_char(ROOM_TIME,'yyyy-mm-dd') as ROOM_TIME,a.room_typeid
        from tb_room_part a
        join tb_roomtype b on a.room_typeid=b.room_typeid
        join tb_room c on c.room_code=a.room_code
        <where>
            <if test="ROOM_PART_PHONE!=null and ROOM_PART_PHONE!= '' ">
                and ROOM_PART_PHONE like '%'||#{ROOM_PART_PHONE}||'%'
            </if>

            <if test="ROOM_PART_NAME!=null and ROOM_PART_NAME!= '' ">
                and ROOM_PART_NAME like '%'||#{ROOM_PART_NAME}||'%'
            </if>
            <if test="1==1">
                and room_part_state = 0
            </if>
            <if test="pageNo!=null and pageNo!= '' ">
                and rownum &lt; #{end}) t where t.rn &gt; #{start}
            </if>

        </where>

    </select>
    <!--查询数量-->
    <select id="getRoomCount" resultType="int">
        select count(*) from tb_room_part where room_part_state = 0
    </select>

    <!-- 商品价格列表 -->
    <select id="getGoods" resultType="map">
        select GOODS_ID,GOODS_NAME,GOODS_PRICE from TB_GOODS where SUPP_ID in(1,3)
    </select>

    <!--退房-->
    <!--1、更改TB_ROOM表中房间状态 -->
    <update id="updateRoom">
        update TB_ROOM set ROOM_STATE=0 where ROOM_CODE=#{ROOM_CODE }
    </update>
    <!--2、更改TB_ROOM_PART表中房间状态 -->
    <update id="updateRoomPart">
        update tb_room_part set room_part_state=1,ROOM_SUM=#{ROOM_SUM} where PART_ID=#{PART_ID}
    </update>
    <!--3、TB_GOODS表中商品数量 -->
    <update id="updateGoods">
        update TB_GOODS set GOODS_NUM = (GOODS_NUM - #{GOODS_NUM})  where GOODS_ID=#{GOODS_ID}
    </update>


    <!-- 续订1 更改TB_ROOM_PART表中房间的到期时间，和天数
       -->
    <update id="extendRoom">
        update tb_room_part set ROOM_TIME = to_date(#{ROOM_XU3},'yyyy-mm-dd '),
        ROOM_LIVETIME = #{ROOM_LIVETIME} where PART_ID = #{PART_ID}
    </update>
    <!-- 续订2 tb_room_part0添加续订记录
       -->
    <insert id="insertA">
        insert into TB_ROOM_PARTO(
        room_codeo,room_part_nameo,room_part_phoneo,room_part_cardo,
        room_typeido,room_dateo,room_datec,room_part_stateo,room_timeo,part_ido,ROOM_STATE)
        values(#{room_code},#{name},#{phone},#{card},
        (select room_typeid from tb_roomtype where room_typename=#{room_typename})
        ,to_date(#{ruzhu},'yyyy-mm-dd '),
        to_date(#{indate},'yyyy-mm-dd '),0,
        to_date(#{outdate},'yyyy-mm-dd '),PART_IDO.nextval,1)
    </insert>




    <!-- 换房管理：空房查询 -->
    <select id="emptyRoom" resultType="map">
        select a.room_state, a.room_code,b.room_typename,b.room_typeprice,b.room_deposit,a.room_typeid
        from tb_room a
        join tb_roomtype b on a.room_typeid=b.room_typeid
        where room_state=0 and a.ROOM_TYPEID = #{ROOM_TYPEID}
    </select>
    <!--查询数量-->
    <select id="emptyRoomCount" resultType="int">
        select count(*) from tb_room where room_state=0
    </select>
    <!--
     点击提交，换房操作
     1、根据 TB_ROOM 表中的ROOM_CODE更改ROOM_STATE（0空净，2有人）
     将原房间状态2改为0
     将换后房间状态0改为2

     -->
    <update id="update">
        update tb_room set room_state=0 where room_code=#{Q_ROOM_CODE5}
    </update>
    <update id="updateO">
        update tb_room set room_state=2 where room_code=#{H_ROOM_CODE5}
    </update>
    <!--
        2、根据 TB_ROOM_PART 中的 PART_ID 更改 ROOM_CODE
    -->
    <update id="updateT">
        update TB_ROOM_PART set room_code=#{H_ROOM_CODE5} where part_id = #{Q_PART_ID5}
    </update>

    <!-- 换房添加 TB_ROOM_PARTO-->
    <insert id="insertB">
        insert into TB_ROOM_PARTO(
        room_codeo,room_codec,room_part_nameo,room_part_phoneo,room_part_cardo,
        room_typeido,room_dateo,room_datec,room_part_stateo,room_timeo,part_ido,ROOM_STATE)
        values(#{room_code},#{room_codec},#{name},#{phone},#{card},
        (select room_typeid from tb_roomtype where room_typename=#{room_typename})
        ,to_date(#{indate},'yyyy-mm-dd '),sysdate,0,to_date(#{room_timec},'yyyy-mm-dd '),PART_IDO.nextval,2)
    </insert>


    <!--  换房、续订记录 -->
    <select id="getRoomPartListB" resultType="map">
        select * from
        (select rownum rn,a.PART_IDO,a.ROOM_CODEO,a.ROOM_CODEC,a.ROOM_TYPEIDO,b.ROOM_TYPENAME,a.ROOM_PART_NAMEO,
        a.ROOM_PART_PHONEO,a.ROOM_PART_CARDO,to_char(ROOM_DATEO,'yyyy-mm-dd') as ROOM_DATEO,
        to_char(ROOM_TIMEO,'yyyy-mm-dd') as ROOM_TIMEO,
        to_char(ROOM_DATEC,'yyyy-mm-dd') as ROOM_DATEC,
        ROOM_STATE
        from tb_room_parto a
        join tb_roomtype b on a.room_typeido=b.room_typeid
        <where>
            <if test="ROOM_PART_PHONEO!=null and ROOM_PART_PHONEO!= '' ">
                and ROOM_PART_PHONEO like '%'||#{ROOM_PART_PHONEO}||'%'
            </if>

            <if test="ROOM_PART_NAMEO!=null and ROOM_PART_NAMEO!= '' ">
                and ROOM_PART_NAMEO like '%'||#{ROOM_PART_NAMEO}||'%'
            </if>
            <if test="pageNo!=null and pageNo!= '' ">
                and rownum &lt; #{end}) t where t.rn &gt; #{start}
            </if>

        </where>

    </select>
    <!--查询数量-->
    <select id="getRoomCountB" resultType="int">
        select count(*) from tb_room_parto
    </select>

</mapper>