<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.two.dao.roompart.RoomPartDao">
    <!--  列表查询 -->
    <select id="getRoomPartList" resultType="map">
       select * from
        (select rownum rn, to_char(room_date,'yyyy-mm-dd') as room_date,a.room_part_id,a.room_part_state,a.part_id,
        a.room_code,a.room_part_name,a.room_part_phone,a.room_part_card,room_typename,a.room_livetime,b.room_typeprice,
        to_char(ROOM_TIME,'yyyy-mm-dd') as ROOM_TIME
        from tb_room_part a
        join tb_roomtype b on a.room_typeid=b.room_typeid
        join tb_room c on c.room_code=a.room_code
        <where>
            <if test="ROOM_PART_PHONE!=null and ROOM_PART_PHONE!= '' ">
                and ROOM_PART_PHONE like '%'||#{ROOM_PART_PHONE}||'%'
            </if>

            <if test="ROOM_PART_NAME!=null and ROOM_PART_NAME!= '' ">
                and ROOM_PART_NAME like '%'||#{ROOM_PART_NAME}||'%'
            </if>

            <if test="pageNo!=null and pageNo!= '' ">
                and rownum &lt; #{end}) t where t.rn &gt; #{start} and room_part_state = 0
            </if>
        </where>

    </select>
    <!--查询数量-->
    <select id="getRoomCount" resultType="int">
        select count(*) from tb_room_part
    </select>

    <!-- 商品价格列表 -->
    <select id="getGoods" resultType="map">
        select GOODS_ID,GOODS_NAME,GOODS_PRICE from TB_GOODS where SUPP_ID in(1,3)
    </select>

    <!--退房-->
    <!--1、更改TB_ROOM表中房间状态 -->
    <update id="updateRoom">
        update TB_ROOM set ROOM_STATE=0 where ROOM_CODE=#{ROOM_CODE }
    </update>
    <!--2、更改TB_ROOM_PART表中房间状态 -->
    <update id="updateRoomPart">
        update tb_room_part set room_part_state=1,ROOM_SUM=#{ROOM_SUM} where PART_ID=#{PART_ID}
    </update>
    <!--3、TB_GOODS表中商品数量 -->
    <update id="updateGoods">
        update TB_GOODS set GOODS_NUM = (GOODS_NUM - #{GOODS_NUM})  where GOODS_ID=#{GOODS_ID}
    </update>



    <select id="emptyRoom" resultType="map">
        select a.room_state, a.room_code,b.room_typename,b.room_typeprice,b.room_deposit
        from tb_room a join tb_roomtype b on a.room_typeid=b.room_typeid
        where room_state=0

    </select>
    <!--查询数量-->
    <select id="emptyRoomCount" resultType="int">
        select count(*) from tb_room where room_state=0
    </select>
    <update id="update">
        update tb_room set room_state=2 where room_code=#{room_code}
    </update>
</mapper>