<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>房间选择</title>

    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../lib/laydate/laydate.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-container">
            <div class="layui-logo">香格里拉大酒店</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="../login/toInterface">主页</a></li>
                <li class="layui-nav-item"><a href="../member/toChoose">预定房间</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">关于我们</a></dd>
                        <dd><a href="">加盟</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a id="MEM_NAME">

                    </a>
                    <dl class="layui-nav-child">
                        <dd><a id="info">基本资料</a></dd>
                        <dd><a href="../member/toOrder">预定信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a id="exit">退出登陆</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-container" style="height:850px;width: 80%;">
        <div class="layui-container">
            <table class="layui-table">
                <tbody>
                <tr>
                    <td>入住城市:<select class="room"><option value="0">郑州市</option></select></td>
                    <td>入住时间:<input type="text" class="layui-input layer-date" id="inTime" name="inTime"></td>
                    <td>离店时间:<input type="text" class="layui-input layer-date" id="outTime" name="outTime"></td>
                </tr>
                </tbody>
            </table>

            <div class="layui-container "  style="height:700px; overflow: auto">
                <table class="layui-table">
                    <thead>
                    <th>
                        <td>房型</td>
                        <td>房间说明</td>
                        <td>房费(元/日)</td>
                        <td>房间数</td>
                        <td></td>
                    </th>
                    </thead>
                    <tbody id="tby">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
        var MEM_TEL = sessionStorage.getItem('inPersonTel')
        if (sessionStorage.getItem('inPersonTel')==null) {
            $("#MEM_NAME").html("未登录");
        }else{
            $.ajax({
                url:"/pro/member/getMemberMsg",
                type:"POST",
                data:{"MEM_TEL":MEM_TEL},
                dataType:"json",
                success(data){
                    var MEM_NAME = data[0].MEM_NAME;
                    $("#MEM_NAME").html(MEM_NAME);
                }
            })
        }
    });

    $("#tby").on("click",".reserve",function () {
        sessionStorage.setItem('inTime',$("#inTime").val());
        sessionStorage.setItem('outTime',$("#outTime").val());
        sessionStorage.setItem('roomtype',$(this).attr("roomtype"));
        sessionStorage.setItem('roomprice',$(this).attr("roomprice"));
        sessionStorage.setItem('roomnum',$(this).parent().prev().find("select").val());
        window.location="/pro/member/toSub";
    })


    $(document).on("click","#exit",function () {
        sessionStorage.clear();
        window.location="/pro/login/toInterface";
    })

    //查询空房数量
    /*function QueryVacancy(){
        $.ajax({
            url:"/pro/member/getRoomNum",
            type:"POST",
            data:{""},
            dataType:"json",
            success(data){

            }
        })
    }*/


    $(function () {
        $.ajax({
            url:"/pro/member/getRoomType",
            type:"POST",
            dataType:"json",
            success(data){
                var tp="";
                for(i=0;i<data.length;i++){
                    tp+="<tr>" +
                        "<td><img src='"+data[i].ROOM_IMG+"' style='width:150px;height:100px'></td>" +
                        "<td>"+data[i].ROOM_TYPENAME+"</td>" +
                        "<td style='width:450px'>"+data[i].ROOM_INFO+"</td>" +
                        "<td>"+data[i].ROOM_TYPEPRICE+"</td>" +
                        "<td>\n" +
                        "  <select class='' \"roomnum\">\n" +
                        "     <option value=\"1\">1间</option>" +
                        "     <option value=\"2\">2间</option>" +
                        "     <option value=\"3\">3间</option>" +
                        "     <option value=\"4\">4间</option>" +
                        "     <option value=\"5\">5间</option>" +
                        "   </select>" +
                        "</td>"+
                        "<td><button class='reserve layui-btn' roomprice='"+data[i].ROOM_TYPEPRICE+"' roomtype='"+data[i].ROOM_TYPEID+"'>预定</button></td>" +
                        "</tr>"
                }
                $("#tby").append(tp);
            }
        })
    })

        var startDate=laydate.render({
            elem: '#inTime',
            format: 'yyyy-MM-dd',
            min:'new Date()',
            max:+30,
            value: new Date(),
            done:function(value,date){
                if(value!=""){
                    date.date=date.date+1;
                    /*默认时间增加一天 然后如果日期超过界限 则根据月份进入下一月*/
                    if((date.month==1)||(date.month==3)||(date.month==5)||(date.month==7)||(date.month==8)||(date.month==10)){
                        //console.log("大月")
                        if (date.date==32){
                            date.date=1;
                            date.month=date.month+1;
                        }
                    }else if((date.month==4)||(date.month==6)||(date.month==9)||(date.month==11)){
                        //console.log("小月")
                        if (date.date==31){
                            date.date=1;
                            date.month=date.month+1;
                        }
                    }else if(date.month==2){
                        if (((date.year%4==0)&&(date.year%100!=0))||date.year% 400==0) {
                            //console.log("闰年")
                            if (date.date==30){
                                date.date=1;
                                date.month=date.month+1;
                            }
                        } else{
                            //console.log("平年")
                            if (date.date==29){
                                date.date=1;
                                date.month=date.month+1;
                            }
                        }
                    }else if((date.month==12)){
                        //console.log("腊月")
                        if (date.date==32){
                            date.date=1;
                            date.month=1;
                            date.year=date.year+1;
                        }
                    }

                    var iod ="";
                    iod +=date.year+"-";
                    if(date.month<10){
                        iod +="0"+date.month+"-";
                    }else{
                        iod +=date.month+"-";
                    }
                    if(date.date<10){
                        iod +="0"+date.date;
                    }else{
                        iod +=date.date;
                    }
                    $("#outTime").val(iod);

                    //月份加1更改endDate下限
                    date.month=date.month-1;
                    endDate.config.min=date;
                }else{
                    endDate.config.min=startDate.config.min;
                }
            },
        });

        var endDate = laydate.render({
            elem: '#outTime',
            format: 'yyyy-MM-dd',
            min:+1,
            max:+30,
            value:GetNextDate()
        });

    function GetNextDate() {
        var dd = new Date();
        dd.setDate(dd.getDate()+1);//获取AddDayCount天后的日期
        var y = dd.getFullYear();
        var m = dd.getMonth()+1;//获取当前月份的日期
        var d = dd.getDate();
        if(m<10){
            return y+"-0"+m+"-"+d;
        }else if(m>=10){
            return y+"-"+m+"-"+d;
        }
    }


</script>
</body>
</html>