<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../lib/layui/layui.js"></script>

    <style type="text/css">
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }

    </style>
</head>
<body>
<div class="demoTable" style="margin-top: 10px;width: 1662px;margin-left: 20px;">
    房间号:
    <div class="layui-inline">
        <input class="layui-input" name="ROOM_CODE" id="demoReload" autocomplete="off">
    </div>
    房间类型:
    <div class="layui-inline">
        <input class="layui-input" name="ROOM_TYPENAME" id="demoReload2" autocomplete="off">
    </div>
    <div class="layui-btn" data-type="reload" id="searchBtn"><i class="layui-icon">&#xe615;</i>搜索</div>
    <div class="layui-btn" data-type="reload" id="redo"><i class="layui-icon">&#xe669;</i></div>

</div>
<table class="layui-hide" id="emptyRoomList" lay-filter="demo"></table>
<script>
    layui.use('table', function() {
        var table = layui.table;

        table.render({
            elem: '#emptyRoomList'
            , title: '用户数据表'
            , height: 790
            , width: 1910
            , url: '/pro/allRoom/all'
            , toolbar: '#toolbarDemo'
            , page: true
            , even: true
            , size: 'lg'
            , cols: [ [
                {checkbox: true, fixed: true}
                , {field: 'ROOM_CODE', title: '房间号', width: 392, sort: true, unresize: true, fixed: 'left'}
                , {field: 'ROOM_TYPENAME', title: '房间类型', width: 392}
                , {field: 'ROOM_TYPEPRICE', title: '价格', width: 395,}
                , {field: 'ROOM_DEPOSIT', title: '押金', width: 395}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:280}
            ] ]
            ,id: 'testReload'
            , request: {
                pageName: 'pageNo',//页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },
            limits: [5,15,20], //显示
            limit: 20 //每页默认显示的数量
        })

        //模糊查询（搜索）
        var $ = layui.$, active = {
            reload:function () {
                var demoReload = $("#demoReload");
                var demoReload2 = $("#demoReload2");
                table.reload('testReload',{
                    where:{
                        ROOM_CODE:demoReload.val(),
                        ROOM_TYPENAME:demoReload2.val()
                    }
                })
            }
        }
        $("#searchBtn").on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })
        //取消搜索按钮
        $("#redo").click(function(){
            $("#demoReload").val("");
            $("#demoReload2").val("");
            $("#searchBtn").trigger("click");
        })

        table.on('tool(demo)',function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    title: '修改房间信息'
                    ,type: 1
                    ,area: ['500px', '430px']
                    ,anim: 1
                    ,content:$("#editDemo").html()
                    ,success:function(layero,index){
                        var nodes=layero[0];
                        $("#ROOM_CODE").val(data.ROOM_CODE);
                        $("#ROOM_TYPEID").val(data.ROOM_TYPEID);
                        $("#ROOM_TYPEPRICE").val(data.ROOM_TYPEPRICE);
                        $("#ROOM_DEPOSIT").val(data.ROOM_DEPOSIT);
                        $("#sbt").click(function () {
                            $.ajax({
                                url: "/pro/allRoom/update",
                                type:'post',
                                data:{"ROOM_CODE":$("#ROOM_CODE").val(),"ROOM_TYPEID":$("#ROOM_TYPEID").val(),"ROOM_TYPEPRICE":$("#ROOM_TYPEPRICE").val(),"ROOM_DEPOSIT":$("#ROOM_DEPOSIT").val()},
                                dataType:"json",
                                success:function (data) {
                                    //获取当前的页码
                                    //var pageNum = $(".layui-laypage-curr .layui-laypage-em").next().html();
                                    if (data.issuc==true){
                                        console.log(obj);
                                        layer.close(index);
                                        layer.msg("修改成功", {icon: 6});
                                        setTimeout(function () {
                                            //修改页码input框的值为当前页码
                                            $(".layui-laypage-skip .layui-input").val(pageNum);
                                            //触发页码确定按钮 实现只刷新当前页面
                                            $(".layui-laypage-btn").trigger("click");
                                        }, 700);
                                    }else{
                                        layer.msg("修改失败", {icon: 5});
                                    }
                                }
                            })
                        })
                    }
                })
            }
        })


    })
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-bg-red" lay-event="edit">更改<i class="layui-icon">&#xe642;</i></a>
</script>

<script type="text/html" id="editDemo">
    <form id="updateForm">
        <div class="layui-form-item" align="center">
            <div class="layui-inline">
                <label class="layui-form-label">房间号:</label>
                <div class="layui-input-inline">
                    <input name="ROOM_CODE" class="layui-input" id="ROOM_CODE" readonly="readonly">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">房间类型:</label>
                <div class="layui-input-inline" >
                    <select id="ROOM_TYPEID" style="width: 190px;height: 38px">
                        <option  value="1">单人房</option>
                        <option value="2">双人房</option>
                        <option value="3">普通房</option>
                        <option value="4">大床房</option>
                        <option value="5">豪华房</option>
                        <option value="6">豪华套房</option>

                    </select>
                   <!-- <input name="ROOM_TYPENAME" class="layui-input" id="ROOM_TYPENAME">-->
               </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">价格:</label>
                <div class="layui-input-inline">
                    <input name="ROOM_TYPEPRICE" class="layui-input" id="ROOM_TYPEPRICE">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">押金:</label>
                <div class="layui-input-inline">
                    <input name="ROOM_DEPOSIT" class="layui-input" id="ROOM_DEPOSIT" readonly="readonly">
                </div>
            </div>
        </div>
    </form>
    <div align="center">
        <input type="button" value="确认更新" id="sbt" class="layui-btn layui-btn-sm" />
        <input type="button" value="取消" id="cancel" class="layui-btn layui-btn-sm layui-btn-normal" />
    </div>
</script>
</body>
</html>