<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台登录-X-admin2.0</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/xadmin.js"></script>
    <style type="text/css">
		#common_box {
			width: 300px;
			position: fixed;
			_position: absolute;
			right: 0;
			top: 40%;
			border: 1px solid #789;
			background: #fff;
			z-index: 88
		}
		
		#cli_on {
			width: 30px;
			height: 180px;
			float: left;
			cursor: pointer;
			background: #ac8932;
			text-align: center;
			line-height: 180px
		}
	</style>



</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="index.html">X-admin v2.0</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a></dd>
              <dd><a onclick="x_admin_show('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a></dd>
               <dd><a onclick="x_admin_show('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a onclick="x_admin_show('个人信息','http://www.baidu.com')">个人信息</a></dd>
              <dd><a onclick="x_admin_show('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
              <dd><a href="/pro/login/toInterface">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>信息管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pro/person/toListDemo">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>员工列表</cite>
                            
                        </a>
                    </li >
                    <li>
                        <a _href="/pro/room/toRoom">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite>
                            
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>房间管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pro/room/toRoom">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>房间预定</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="/pro/roomPart/toRoomPart">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>入住记录</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>新闻管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pro/news/toList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>新闻列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite>图标字体</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="unicode.html">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>图标对应字体</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>物品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pro/Goods/toList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>仓库信息</cite>

                        </a>
                    </li>
                    <li>
                        <a _href="/pro/stockGoods/toStock">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>缺货物品</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/pro/Purchase/toList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>采购单</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/pro/Purchase/toInStorage">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>物品入库</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/pro/Purchase/toGetHistory">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>历史记录</cite>
                        </a>
                    </li >

                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe723;</i>
                    <cite>供应商管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/pro/Supplier/toList">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>供应商</cite>

                        </a>
                    </li>
                </ul>
            </li>

            <li><a href="javascript:;">
                    <i class="iconfont">&#xe6b4;</i>
                    <cite onclick="x_admin_show('添加用户','./member-add.html',600,400)">aaa</cite>
                </a></li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src="/pro/room/toRoom" frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright"><span id="wel"></span>，欢迎你！！</div>
    </div>
    <!-- 底部结束 -->
    <script>
        $(function () {
            $.ajax({
                url:"/pro/login/welcome",
                type:"post",
                success:function(data) {
                    if(data!=''){
                        $("#wel").html(data)
                    }
                }
            })
        })

    //百度统计可去掉
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    
    </script>
</body>
</html>