<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人界面</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/xadmin.js"></script>
    <style type="text/css">
        td{
            padding:20px;
            font-family: "Arial Black";
            size:40px;
        }
        </style>
    <script>
        var username = request.getAttribute(username);
        $("#sp").html(username);
    </script>
</head>
<body>
<h1><span id="sp"></span>欢迎你！</h1>
    <div>
        <table>
            <tr><td><img src=""/></td><td></td></tr>
            <tr><td>姓名</td><span></span><td></td></tr>
            <tr><td>年龄</td><span></span><td></td></tr>
            <tr><td>性别</td><span></span><td></td></tr>
            <tr><td>用户名</td><span></span><td></td></tr>
            <tr><td>邮箱</td><span></span><td></td></tr>
            <tr><td>职位</td><span></span><td></td></tr>
            <tr><td>联系方式</td><span></span><td></td></tr>
            <tr><td>入职日期</td><span></span><td></td></tr>
        </table>
    </div>
</body>
</html>
<SCRIPT Language=VBScript><!--

//-->
</SCRIPT>