<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人界面</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../lib/layui/layui.js"></script>
    <script src="../js/xadmin.js"></script>
    <style type="text/css">
        td{
            padding:20px;
            font-family: "Arial Black";
            size:40px;
        }
        </style>
    <script>
        var username = request.getAttribute(username);
        $("#sp").html(username);
    </script>
</head>
<body>
<div class="x-body layui-anim layui-anim-up">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-input-inline">
                <span  id="USER_NAME" class="layui-form-label"  style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别：</label>
            <div class="layui-input-inline">
                <span  id="USER_GENDER" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式：</label>
            <div class="layui-input-inline">
                <span  id="userPhone" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址：</label>
            <div class="layui-input-inline">
                <span  id="USER_PHONE" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职位：</label>
            <div class="layui-input-inline">
                <span  id="" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名：</label>
            <div class="layui-input-inline">
                <span  id="USER_UNAME" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
                <span  id="passWord" class="layui-form-label" style="text-align:center;padding-left:80px"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    //获取登陆信息
    $(function () {
        $.ajax({
            url:"/Project-storeManage/allLogin/personMsg",
            type:"post",
            success:function(data) {
                if(data!=''||data.size()>0){
                    $("#name").html(data[0].name);
                    if(data[0].userGen==1){
                        $("#userGen").html("男");
                    }else{
                        $("#userGen").html("女");
                    }
                    $("#userPhone").html(data[0].userPhone);
                    $("#userAddress").html(data[0].userAddress);
                    $("#roleName").html(data[0].roleName);
                    $("#userName").html(data[0].userName);
                    $("#passWord").html(data[0].passWord);
                }
            }
        })
    })
</script>
</body>
</html>
<SCRIPT Language=VBScript><!--

//-->
</SCRIPT>