<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>
    <link rel="stylesheet" href="../lib/layui/css/layui.css">
    <script src="../js/jquery-1.8.3.min.js"></script>
    <script src="../lib/layui/layui.js"></script>

    <style type="text/css">
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
<div class="demoTable" style="margin-top: 10px;width: 1662px;margin-left: 20px;">
    联系人:
    <div class="layui-inline">
        <input class="layui-input" name="LINKMAN" id="demoReload" autocomplete="off">
    </div>
    联系电话:
    <div class="layui-inline">
        <input class="layui-input" name="CONTACTNUM" id="demoReload2" autocomplete="off">
    </div>
    <div class="layui-btn" data-type="reload" id="searchBtn"><i class="layui-icon">&#xe615;</i>搜索</div>
    <div class="layui-btn" data-type="reload" id="redo"><i class="layui-icon">&#xe669;</i></div>
    <div class="layui-btn layui-btn-warm" id="goodsAdd" style="margin-left:10px;"><i class="layui-icon">&#xe608;</i>添加</div>
</div>
<table class="layui-hide" id="userlist" lay-filter="demo" ></table>
<script>
    layui.use('table', function() {
        var table = layui.table;
        table.render({
            elem: '#userlist'
            , title: '订单信息表'
            , height: 745
            , width: 1698
            , url: '/pro/Order/List'
            , toolbar: '#toolbarDemo'
            , page: true
            , even: true
            , skin:'nob'    //line （行边框风格） row （列边框风格） nob （无边框风格）
            , size: 'lg'
            , cols: [ [
                {checkbox: true, fixed: true}
                , {field: 'ORDER_ID', title: '所属订单id', width: 160, sort: true, unresize: true, fixed: 'left'}
                , {field: 'INPERSON', title: '入住人', width: 150}
                , {field: 'INTIME', title: '入住时间', width: 100}
                , {field: 'OUTTIME', title: '离开时间', width: 120}
                , {field: 'ROOM_TYPENAME', title: '房间类型', width: 100}
                , {field: 'ROOMNUM', title: '订房数量', width: 165}
                , {field: 'ORDERPRICE', title: '订单总价', width: 200}
                , {field: 'LINKMAN', title: '联系人', width: 150}
                //, {field: 'GOODS_NUM', title: '状态', width: 80,templet:'#GOODS_NUMS2'}
                , {field: 'CONTACTNUM', title: '联系电话', width: 150}
                , {field: 'MESSAGE', title: '留言', width: 220}
                , {field: 'STATE', title: '订单状态', width: 110,templet:'#forCourseTpl'}
                , {field: 'INPERSONID', title: '入住人身份证号', width: 200}


            ] ]
            ,id: 'testReload'
            , request:{
                pageName:'pageNo',//页码的参数名称，默认：page
                limitName:'pageSize'//每页数据量的参数名：默认：limit
            },
            limits:[5,10,15],  //显示
            limit:10  //每页默认显示的数量
            //隐藏id
            , done: function () {
                $("[data-field='ORDER_ID']").css('display', 'none');
            }
        })

        //模糊查询（搜索）
        var $ = layui.$, active = {
            reload:function () {
                var demoReload = $("#demoReload");
                var demoReload2 = $("#demoReload2");
                table.reload('testReload',{
                    where:{
                        LINKMAN:demoReload.val(),
                        CONTACTNUM:demoReload2.val()
                    }
                })
            }
        }
        $("#searchBtn").on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        })
        //取消搜索按钮
        $("#redo").click(function(){
            $("#demoReload").val("");
            $("#demoReload2").val("");
            $("#searchBtn").trigger("click");
        })

    })

</script>
<script type="text/html" id="forCourseTpl">
    {{# if(d.STATE == '0'){d.STATE = '未审核'}}
    {{d.STATE}}
    {{# } else{ d.STATE = '预定失败'}}
    {{d.STATE}}
    {{#  } }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑<i class="layui-icon">&#xe642;</i></a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除<i class="layui-icon">&#xe640;</i></a>
</script>

</body>
</html>
<SCRIPT Language=VBScript><!--

//--></SCRIPT>